.mainDiv{
    background-color: rgb(236, 233, 233);
}
.banner{
    max-width: 100%;
}
.innerGrid{
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    padding: 1rem 2rem;
    grid-gap: 1rem;
    width: 100%;
}
.side{
    background-color: black;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousal{
    max-width: 90%;
}
.categories{
    margin-top: 1rem;
    background-color: #F12A43;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 1rem;
}
.chips{
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    background-color: rgb(210, 249, 249);
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.products p:first-child{
    font-size: 2rem;
    font-weight: 500;
    color: #F12A43;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.productGrid{
    margin-top: 2rem;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-gap: 2rem;
    place-content: center;
}