.main {
    display: flex;
    padding: 1rem 2rem;
    gap: 1rem;
    border-right: 2px solid rgb(224, 223, 223);
}

.main2 {
    display: flex;
    padding: 1rem 1rem;
    gap: 1rem
}

.image {
    max-width: 70px;
    max-height: 70px;
}

.title {
    font-size: 20px;
}

.desc {
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    color: rgb(203, 202, 202);
}

.checked {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
}